@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap');

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
  color: #000;
  margin: 0;
  font-weight: 400;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  outline: none;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.shopping-cart-button {
  position: absolute;
  width: 86px;
  height: 75px;
  background: #f3f3f3;
  border-radius: 2px;
  float: right;
  top: 10px;
  right: 10px;
  border: none;
  cursor: pointer;
}

.shopping-cart-button:focus {
  border: 1px solid #000;
}

.shopping-cart-img {
  width: 42px;
  height: 35px;
}

.shopping-cart-list {
  display: none;
  position: absolute;
  width: 360px;
  top: 110px;
  right: 20px;
  float: right;
  padding: 5px 20px;
  background: #fff;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.45);
}

.shopping-cart-list:after {
  z-index: -1;
  bottom: 100%;
  left: 88%;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 20px solid;
  content: ' ';
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #fff;
  filter: drop-shadow(0 7px 5px #000);
}

.shopping-cart-header {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #0d0d0d;
  padding-bottom: 10px;
  margin: 0;
  border-bottom: 1px solid #bcbcbc;
}

.shopping-cart-item-wrap {
  display: none;
  border-bottom: 1px solid #bcbcbc;
}

.shopping-cart-item {
  display: flex;
  align-items: center;
}

.product-img {
  width: 95px;
  height: 95px;

  img {
    width: auto;
    height: 100%;
    padding-right: 15px;
  }
}

.product-info {
  display: flex;
  flex-direction: column;
  padding: 0 10px;

  p {
    margin: 0;
  }
}

.product-name,
.product-price {
  font-family: 'Source Serif Pro', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #0d0d0d;
  margin: 0;
  padding: 5px 0;
}

.product-brand,
.product-color {
  font-family: 'Source Serif Pro', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #707070;

  p {
    margin: 0;
  }
}

.scroll-arrow {
  display: none;
  width: 324px;
  height: 30px;
  background: #f9f9f9;
  border: 1px solid #bcbcbc;
  margin: 0;
  cursor: pointer;

  i {
    color: #979797;
  }
}

.button-container {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
}

.edit-card-button {
  color: #0d0d0d;
  width: 135px;
  height: 42px;
  border: 1px solid #0d0d0d;
  filter: drop-shadow(0, 0, 0, 0.1);
  cursor: pointer;
}

.checkout-button {
  color: #fff;
  border: none;
  width: 177px;
  height: 42px;
  background: #79ad36;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.blure {
  mix-blend-mode: normal;
  opacity: 0.29;
  pointer-events: none;
}

.show {
  display: block;
}

.hide {
  display: none;
}
