@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: #fff;
  color: #000;
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

/* navbar */
.navbar {
  margin: 0;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 80%;
}

.shopping-cart-button {
  background-color: rgb(223, 222, 222);
  border: 0;
  border-radius: 3px;
  color: rgb(56, 52, 52);
  cursor: pointer;
  padding: 18px;
}

.cart {
  font-size: 30px;
  padding: 0;
  margin: 0;
}
/* end navbar */

.main-container {
  margin: 0;
  width: 80%;
}

/* shopping list */
.shopping-cart-list {
  background: #fff;
  display: block;
  width: 340px;
  position: relative;
  box-shadow: 0px 8px 8px 1px rgba(0, 0, 0, 0.4);
  float: right;
  padding: 20px;
  margin: 25px 5px;
}

.shopping-cart-list:after {
  z-index: -1;
  bottom: 100%;
  left: 88%;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 20px solid;
  content: ' ';
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #fff;
  filter: drop-shadow(0 7px 5px #000);
}

.shopping-cart-header {
  font-size: 12px;
  font-weight: bold;
  padding-bottom: 10px;
  margin: 0;
  border-bottom: 1px solid rgb(165 164 164);
}

.shopping-cart-item {
  padding: 0 0 10px 0;
  border-bottom: 1px solid rgb(165 164 164);
}

.shopping-cart-list li {
  display: flex;
}

.product-img {
  width: auto;
  height: 100px;
}
.product-img img {
  width: auto;
  height: 100%;
  padding-right: 15px;
}

.product-name {
  font-size: 12px;
  font-weight: bold;
  margin: 0;
}

.product-description p {
  font-size: 12px;
  color: rgb(145, 145, 145);
  padding: 0;
  margin: 0;
}

.product-price {
  font-size: 12px;
  font-weight: bold;
  margin: 0;
  padding: 10px 0;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

.button-container a {
  text-decoration: none;
}

.edit-card-button {
  font-size: 13px;
  background: #fff;
  color: #000;
  padding: 8px 38px;
  cursor: pointer;
  border: 1px solid #000;
}

.checkout-button {
  font-size: 13px;
  background: rgb(154 171 61);
  color: #fff;
  padding: 8px 45px;
  border: none;
  cursor: pointer;
}
/* end shopping list */

/* bottom: 100%;
  left: 88%;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 20px solid;
  content: ' ';
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: rgb(100, 93, 93);
  box-shadow: 0px 8px 8px 1px rgba(0, 0, 0, 0.4); */

/*  z-index: -1;
  bottom: 96%;
  left: 88%;
  border-right: 20px solid transparent;
  border-bottom: 20px solid transparent;
  content: ' ';
  position: absolute;
  pointer-events: none;
  width: 30px;
  height: 30px;
  background: #fff;
  transform: rotate(45deg);
  box-shadow: -2px -3px 7px -3px rgba(0, 0, 0, 0.4);*/
